{% extends 'base.html' %}
{% block content %}
<main class="container mt-3 mb-5">
	<!-- featured news -->
	<div class="row my-3">
		<!-- Left -->
		<div class="col-md-8">
			<div class="card mb-3">
                <img src="{{detail.images.url}}" class="card-img-top" alt="{{detail.title}}">
			  <div class="card-body">
			    <h5 class="card-title header-font">{{detail.title}}</h5>
			    <hr/>
			    <p class="card-text main-fonts" >{{detail.detail| safe }}</p>
{#			    <p dangerouslySetInnerHTML={{ __html: detail.detail  }}>{ }</p>#}
              </div>
			  <div class="card-footer header-font">
			   <div class="row ">
                   <div class="col-5">
                       	Category: <a href="/category/{{detail.category.id}}">{{detail.category.title}}</a>
                   </div>
                   <div class="col-6">
                     {{ detail.add_time }}
                   </div>

               </div>
			  </div>
			</div>

			<!-- Comments -->
			<div class="card my-4">
				<h6 class="card-header header-font">Add Comment</h6>
				<div class="card-body">
					{% for message in messages %}
					<p class="text-success">{{message}}</p>
					{% endfor %}
					<form method="post" action="/detail/{{detail.id}}">
						{% csrf_token %}
						<div class="form-group row">
							<label class="col-md-2 header-font">Name<span class="text-danger">*</span></label>
							<div class="col-md-10">
								<input type="text" name="name" required class="form-control" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2 header-font">Email<span class="text-danger">*</span></label>
							<div class="col-md-10">
								<input type="email" name="email" required class="form-control" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2 main-fonts">Comment<span class="text-danger">*</span></label>
							<div class="col-md-10">
								<textarea class="form-control" name="message" required></textarea>
							</div>
						</div>
						<input type="submit" class="btn btn-primary" />
					</form>
				</div>
			</div>

			<!-- Previous Comments -->
			<div class="card my-4">
				<h6 class="card-header header-font">Comments</h6>
				<div class="card-body">
					{% for comment in comments %}
					<blockquote class="blockquote text-right">
					  <p class="mb-0">{{comment.comment}}</p>
					  <footer class="blockquote-footer">{{comment.name}} <cite title="Source Title">{{comment.email}}</cite></footer>
					</blockquote>
					<hr/>
					{% endfor %}
				</div>
			</div>
		</div>

		<!-- Related News -->
		<div class="col-md-4">
			<h3 class="mb-3 border-bottom pb-1 header-font">From this Category</h3>
			<!-- Category Box -->
			{% for news in related_news %}
                {% if forloop.counter  < 3 %}
			<div class="card mb-3 shadow">
                <img src="{{news.images.url}}" class="card-img-top" alt="{{news.title}}">
			  <div class="card-body">
			    <h5 class="card-title header-font">{{news.title}}</h5>
			    <hr/>
			    <p class="card-text"><a href="/detail/{{news.id}}" class="btn btn-sm btn-primary">Read Full</a></p>
			  </div>
			</div>
                {% endif %}
			{% endfor %}
		</div>
	</div>
</main>
{% endblock %}